build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
a.out

.gdb_history
tmp.out

output_files
!output_files/.keep
*.tar.gz

m5out/
parsetab.*


benchmarks/output
benchmarks/parsed.tsv
!benchmarks/output/.keep

benchmarks/dgemm/output
benchmarks/dgemm/parsed.tsv
!benchmarks/dgemm/output/.keep

benchmarks/dtrsm/output
benchmarks/dtrsm/parsed.tsv
!benchmarks/dtrsm/output/.keep

benchmarks/**/output
